.common-css{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
}
.box{
    background-color: lightblue;
    border: 1px solid #000;
    padding: 20px;
    text-align: center;
}
.flex-common{
    display:flex;
    gap:20px;
}
.box{
    flex:1;
     border: 1px solid #000;
    padding: 20px;
    text-align: center;
}